<div class="row">
	<div class="col-md-12">
		Hello and welcome to my humble abode.
	</div>
</div>
<form method="post" data-bind="submit: saveUserSuggestion, attr: {action: saveUserSuggestion.api}" class="row">
	<div class="col-md-12">
		<div class="form-group has-feedback"
			data-bind="css: {
				'has-warning': message.isModified() && !message.isValid(),
				'has-success': message.isModified() && message.isValid()
			}">
			<textarea id="suggestionBox" placeholder="Leave any suggestions you have here." class="form-control" style="resize: vertical; min-height: 100px;"
				data-bind="
					textInput: message,
					popover: message.isModified() ?
						{ content: message.error(), trigger: 'hover focus', placement: 'top' } :
						{ content: null, trigger: 'hover focus' }" ></textarea>
			<span class="glyphicon form-control-feedback"
				data-bind="
					css: {
						'glyphicon-warning-sign': message.isModified() && !message.isValid(),
						'glyphicon-ok': message.isModified() && message.isValid()
					}">
			</span>
		</div>
		<div class="form-group">
			<input type="submit" data-bind="click: doSubmit, disabled: isSaving" value="Submit" class="btn btn-primary" formnovalidate></input>
		</div>
	</div>
</form>