<div class="row">
	<div class="col-md-12">
		Home Page Info Here.
	</div>
</div>
<form method="post" action="api/addSuggestion" data-bind="submit: saveUserSuggestion">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<textarea data-bind='value: userSuggestion' class="form-control"
					placeholder="Leave any suggestions you have here."></textarea>
			</div>
			<div class="form-group">
				<input type="submit" data-bind="click: doSubmit" value="Submit" class="btn btn-primary" formnovalidate></input>
			</div>
		</div>
	</div>
</form>