<p style="font-size:large"><a href="mailto:JHeilman@speakingnovels.com">Email at JHeilman@speakingnovels</a> or <a href="tel:5203692232">Call at (520)369-2232</a></p>
<ul>
	<li>Are you looking to purchase my services?</li>
	<li>Looking to have a nice long chat about the pros and cons of different technologies?</li>
	<li>Perhaps just wondering the best way to start incorporating technology into your processes?</li>
	<li>Need to find out how to work around limitations of a previous solution?</li>
</ul>
<p>
	If you are looking to start automating your business processes or utilize the benefits of currently
	technologies, contact me.  I will illuminate many of the dark expanses of the technology world and
	provide my vast experience to demonstrate how technology can bring your business new boons.
</p>
